<div class="search_option">
  <h3>标签</h3>
  <ul>
    <% Tag.all.each do |tag| %>
      <li><%= link_to tag.name, tag_episodes_path(tag)%></li>
    <% end %>
  </ul>

  <br />
  <h3>链接</h3>
  <ul>
  </ul>

</div>
