<ul class="nav nav-list well">
  <li class="nav-header">内容</li>

  <li> 
    <%=link_to admin_episodes_path do%>
      章节管理
    <%end%>

    <%=link_to admin_tags_path do%>
      标签管理
    <%end%>
  </li>

  <li class="nav-header">用户</li>
  <li> 
    <%=link_to admin_users_path do%>
      用户管理
    <%end%>
  </li>
</ul>