<form class="navbar-search" action="/episodes">
  <input name="query" type="text" class="search-query span2" placeholder="搜索">
</form>

<ul class="nav pull-right">
  <li><a href="/">浏览</a></li>
  <li><a href="/about">关于</a></li>
  <li><a href="#">反馈</a></li>
</ul>
